[Unit]
Description=Prometheus

After=voltdb.service
[Service]
Type=forking
PIDFile=/home/ubuntu/.prometheus.PID
Restart=always
RestartSec=30
TimeoutStartSec=300
User=ubuntu
EnvironmentFile=/etc/default/prometheus
ExecStart=/home/ubuntu/bin/prometheus_start.sh 
ExecStop=/home/ubuntu/bin/prometheus_stop.sh 
TimeoutStopSec=20s
SendSIGKILL=no
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
